* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
    border-radius: 10px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(20px, 2vw);
}

.articles article h3 {
    font-size: min(32px, 3vw);
}

section h2 {
    font-size: max(48px, 1vw);
}

#sports {
    background-color: rgba(0, 255, 2, 0.1);
}

#sports .articles article a{
    background-color: #009432;
}

#economy {
    background-color: #f8f59f;
}

#economy .articles article a{
    background-color: #ff9f1a;
}

#entreteriment {
    background-color: rgba(0,0,200,0.2);
}

#entreteriment h2 {
    color: #004552fb;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: min(5000px, 5vw);
    text-decoration: underline;
    text-align: left;
}

#entreteriment .articles article a {
    background-color: #00badb;
}

#Technology h2 {
    color: #520000fb;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: min(5000px, 5vw);
    text-decoration: underline;
    text-align: left;
}

#Technology {
    background-color: rgba(500, 0, 0, 0.3);
}

#Technology .articles article a{
    background-color: #940000;
}

p {
    max-height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

@media (max-width: 1200px) {
    .container,
    header, header li{
        display: block;
    }

    .articles,header,header li,
    #entreteriment,
    #technology h2{
        width: 80vw;
    }
}
@media (max-width: 768px) {
    .container,
    .articles{
        display: block;
    }

    .container,
    .articles,
    header,
    header li,
    #entreteriment,
    #technology h2{
        width: 80vw;
    }
}